::selection {
	background: #ebbcba;
}
.appContainer {
	margin-top: 5vh;
}
button {
	background-color: #31748f;
	border: none;
	padding: 5px;
	color: #e0def4;
	font-family: 'Roboto', sans-serif;
	border-radius: 20px;
	transition: ease-in-out 0.2s;
}
button:hover {
	background-color: #9ccfd8;
	transition: ease-in-out 0.2s;
}
